div {
  border-radius: 5px;
}

body {
  background-color: lightblue;
}
h1 { 
 font-family: Copperplate Gothic Bold;
  font-size: 40px;
}
h2 {
   font-family: Copperplate Gothic Bold;
   font-size: 30px;
}

h3 {
  font-family: Copperplate Gothic Bold;
  font-size: 30px;
}

h4 {
  font-family: Copperplate Gothic Bold;
  font-size: 20px;
}

.left {
  position: relative;
  margin-top: 10px;
  width: 5%;
  height: 400 px;
  background-color: white;
  margin-bottom: 10px;
}
.right {  
  position: relative;  
  margin-top: 10px; 
  width: 5%;
  height: 400 px;
  background-color: white;
  margin-bottom: 10px;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
