body {
background-color: lightblue;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 15px;    
}

h1 {
  font-size: 80px;
  font-family: Copperplate Gothic Bold;
}
    
 h2 {
   font-family: Copperplate Gothic Bold;
   font-size: 50px;
}

h3 {
  font-family: Copperplate Gothic Bold;
  font-size: 50px;
}

h4 {
  font-family: Copperplate Gothic Bold;
  font-size: 25px;
}
