div {
  border: 15px; 15px, 15px, 15px;
  border-radius: 15px;
}

body {
  background-color: lightblue;
 padding-top: 10px;
 padding-left: 10px;
  padding-right: 50px;
 padding-bottom: 10px;
}
h1 {
  font-size: 40px;
  font-family: Copperplate Gothic Bold;
}
    
 h2 {
   font-family: Copperplate Gothic Bold;
   font-size: 30px;
}

h3 {
  font-family: Copperplate Gothic Bold;
  font-size: 30px;
}

h4 {
  font-family: Copperplate Gothic Bold;
  font-size: 20px;
}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
